@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");

html {
  background-color: #f4f4f4;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  max-width: 1000px;
  /* min-width: 400px; */
  height: auto;
  min-height: 700px;
  margin: 0 auto;

  color: #595757;
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  background-color: #f4f4f4;
  flex-direction: column;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.space-betweem {
  justify-content: space-between;
}

.ui.segment,
.ui.segments,
.ui.table,
.ui.form input,
.ui input,
.ui.form textarea,
.ui.menu,
.ui.tabular.menu .active.item,
.ui.dropdown,
.ui.dropdown .menu,
.ui.message {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

.ui.button {
  margin: 0 5px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #b7020b 0%, #f07141 51%, #b7020b);
  background-size: 200% auto;
  border-radius: 4px;
  transition: all 0.5s ease 0s;
}
.ui.button.hidden {
  display: none;
}

.ui.button.icon {
  width: auto;
}

.ui.button:hover {
  background-image: linear-gradient(to right, #b7020b 0%, #f07141 51%, #b7020b);
  background-position: right center;
  color: #ffffff;
  box-sizing: inherit;
  background-color: inherit;
}

.ui.message .header,
.ui.message .content {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.ui.message .header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.ui.dropdown {
  color: #32a4be;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.ui.list .list > .item .header,
.ui.list > .item .header {
  color: #f07141;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.ui.button.basic,
.ui.button.basic:hover,
.ui.button.basic:focus {
  box-shadow: 0 0 0 0 white inset;
}

button.ui.basic.button:hover,
button.ui.basic.button:focus {
  background: transparent !important;
}
button.ui.basic.button:hover i {
  color: #ffaa89;
  transition: all 0.3s ease 0s;
}

.toBottom {
  margin-top: auto;
}

div.flex {
  display: flex;
  flex-direction: row;
  min-height: 0;
}

div.flex.column {
  flex-direction: column;
}

div.flex.full {
  flex-grow: 1;
  align-self: stretch;
}

div.flex.part {
  flex-shrink: 0;
  padding-bottom: 20px;
}

div.flex.partSmall {
  height: 60px;
  flex-shrink: 0;
}

div.flex.spread {
  justify-content: space-between;
}

div.flex.spread-around {
  justify-content: space-around;
}
div.flex.align-items-center {
  align-items: center;
}

div.flex.filler {
  flex-grow: 1;
}

div.flex.spacer {
  height: 10px;
}

div.flex.center {
  align-self: center;
}

div.flex.justify-center {
  justify-content: center;
}

.error {
  padding: 10px 0;
  color: #912d2b;
  font-size: 16px;
}

.gradient {
  background-color: #1f2641;
  color: white;
  background-image: url("./assets/bg-new-compressed.jpg");
  background-size: cover;
  background-position: center;
}

.part.gradient {
  background-position: top;
}

h1,
h2,
h3,
h4 {
  font-weight: 200 !important;
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

div.flex.content {
  margin: 10px;
}

.logo img {
  align-self: center;
  margin-top: 20px;
}

.logo .button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.logoHeader {
  align-items: flex-start;
  margin: 10px;
}

.logoHeader .buttons {
  justify-content: flex-end;
}

.logo .button {
  align-self: flex-start;
  margin: 10px !important;
}

.logo .button.hidden {
  visibility: hidden;
}

.logo .button,
.logoHeader .buttons .button {
  margin: 0;
  padding: 5px !important;
}

.logo .button .icon,
.logoHeader .buttons .button .icon {
  color: white;
}

.logoHeader h1 {
  margin-left: 10px;
  line-height: 1;
}

.logoHeader span {
  line-height: 30px;
  margin-left: 10px;
  font-size: 16px;
  white-space: nowrap;
}

h1.header {
  margin-top: 10px;
  align-self: center;
}

.buttons {
  justify-content: center;
  flex-shrink: 0;
}

.buttons.column button {
  width: 200px;
}

.hint {
  margin-top: 15px;
  align-items: center;
}

.sendForm,
.loginForm,
.signupForm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: stretch;
}

.mnemonics,
.privateKey {
  height: 200px;
  align-items: flex-start;
}

.qrCode {
  align-self: center;
}

.buttons.margin {
  margin-top: 20px;
}

.breakWords {
  word-break: break-all;
}

.clearAccount {
  margin-top: 10px;
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
}

.transfersView {
  overflow-y: auto;
}

.transferList {
  width: 100%;
  overflow: auto;
}

.tokens-list {
  flex-grow: 2;
}
.transferList.oep-4 {
  flex-grow: 1;
}
.transferList.oep-4 .item {
  padding: 10px 0;
}
.transferList.oep-4 .item .header {
  margin-bottom: 4px;
}

.transferList.transactions .header {
  font-size: 16px;
}
.transferList.transactions .content {
  line-height: 20px;
}
.transferList.transactions .item {
  padding: 10px 0;
}
.transferList.transactions .item.red .header {
  color: red;
}
.transferList.transactions .item.green .header {
  color: green;
}
.transferList.transactions .item .icon {
  font-size: 32px;
  color: #000;
}

.flex.balance {
  align-items: center;
}

.flex.balance label {
  align-self: center;
}

h4.unbound {
  color: #959ca2;
  cursor: pointer;
}

h4.unbound:hover {
  color: #595757;
}

.ledgerText {
  margin-bottom: 5px;
}

.ui.message.scroll {
  overflow-y: scroll;
}

.statusBar {
  padding: 5px;
  flex-shrink: 0;
  background: #1f2641;
}

.ui.list.accountList {
  width: 100%;
  max-width: 400px;
  overflow-y: auto;
  border: #595757 solid 1px;
}

.ui.list.accountList .item {
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.ui.list.accountList .item:hover {
  background-color: lightgrey;
}

label.balance-label {
  color: #f07141;
  font-size: 18px;
  margin-bottom: 5px;
}

.list-header {
  padding: 20px 0 0 20px;
  flex-shrink: 0;
}
.list-header span {
  font-size: 14px;
  line-height: 18px;
}

.list-btns-box {
  padding: 20px 10px 50px 10px;
}

.list-btns-box > div {
  width: 50%;
  align-items: center;
}
.list-btns-box > div.list {
  /* width: 300px; */
  min-height: 200px;
}
.list-btns-box > div.btns {
  padding-left: 10px;
  min-height: 200px;
}
.list-btns-box > div.btns button:last-child {
  margin-top: auto;
}
.list-btns-box > div.btns button {
  width: 200px;
}

div.flex.balance-container {
  border-bottom: #d1d1d1 solid 1px;
  padding-bottom: 15px;
  min-height: auto;
}
div.flex.balance-container > div.flex {
  width: 33.333%;
}

.buttons-container {
  height: 60%;
  width: 280px;
  margin: 0 auto;
  justify-content: space-between;
}
.buttons-container button.button {
  width: 100%;
}
.buttons-container button:last-child {
  margin-top: auto;
}

.exchange-box {
  justify-content: center;
  align-items: center;
}
.exchange-box .ui.button.basic {
  padding: 0;
}
.exchange-box > span {
  margin-bottom: 5px;
}
.exchange-box input[type="number"] {
  width: 100px;
  padding: 2px 5px;
}
.receive-id-box {
  background: #fff;
  padding: 10px;
  border: #000 solid 1px;
}

.settings__buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.settings__buttons-container .ui.button {
  width: 245px;
}

.ui.form textarea {
  resize: none !important;
}

.ui.message {
  padding: 1em 1em !important;
}

.unclaimed-onyx-label {
  color: #f07141;
  font-size: 18px;
}
.unclaimed-onyx-balance {
  font-size: 18px;
  margin-right: 5px;
  font-weight: 500;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.exch-container {
  margin-left: 5px;
}
.exch-amount {
  font-size: 16px;
  font-weight: 500;
}

.exch-coin {
  color: #f07141;
  font-size: 16px;
  margin: 0 3px;
}

.field-error {
  margin-top: -20px;
  color: #912d2b;
  font-size: 14px;
}

.red-text-on-create-new {
  padding: 40px 40px 20px 40px;
}
.red-text-on-create-new p {
  color: red;
  background: #fff;
  padding: 10px 16px;
  line-height: 24px;
  border: dotted rgba(0, 0, 0, 0.87) 1px;
}

.continue-btn {
  margin: auto auto 10px auto;
}

.new-account-contnet {
  padding: 10px;
}

.warning-text {
  background: #fff !important;
  padding: 10px 16px;
  line-height: 24px;
  border: dotted rgba(0, 0, 0, 0.87) 1px;
  max-width: 100%;
  overflow: auto;
}
.warning-text p {
  color: red;
}

/*  Media  */
@media (max-width: 720px) {
  div.flex.balance-container {
    flex-direction: column;
    align-items: center;
  }
  div.flex.balance-container > div.flex {
    width: 100%;
  }
  .exchange-box {
    margin: 15px 0;
  }
}

@media (max-width: 768px) {
  body {
    min-height: 100%;
  }
  #root {
    box-shadow: none;
  }
  div.flex {
    min-height: auto;
  }
}

@media (max-width: 700px) {
  .list-btns-box > div {
    align-items: flex-start;
  }
  .list-btns-box > div.list {
    width: 300px;
  }
  .red-text-on-create-new {
    padding: 20px 10px 20px 10px;
  }
}
@media (max-width: 550px) {
  div.list-btns-box {
    flex-direction: column;
  }
  .list-btns-box > div.list {
    margin-bottom: 20px;
    width: 100%;
  }
  .list-btns-box > div {
    width: 100%;
    align-items: center;
  }
  .list-btns-box > div.btns {
    padding-left: 0;
  }
  .onyx-balance-amount {
    font-size: 1.28571429rem;
  }
}
@media (max-width: 400px) {
  .list-btns-box > div.list {
    width: 300px;
    margin: 0 auto 20px auto;
  }
}

