@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");

html {
  background-color: #f4f4f4;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  max-width: 1000px;
  /* min-width: 400px; */
  height: 60vh;
  min-height: 500px;
  margin: 0 auto;

  color: #595757;
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  background-color: #f4f4f4;
  flex-direction: column;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  /* border: 1px solid #1f2641; */

  /* background: url('https://onyxcoin.io/assets/images/banner_bg2.png');
  background-color: #1e1f27;
  background-size: contain; */
}

.space-betweem {
  justify-content: space-between;
}

.ui.segment,
.ui.segments,
.ui.table,
.ui.form input,
.ui input,
.ui.form textarea,
.ui.menu,
.ui.tabular.menu .active.item,
.ui.dropdown,
.ui.dropdown .menu,
.ui.message {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

.ui.button {
  margin: 0 5px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #b7020b 0%, #f07141 51%, #b7020b);
  background-size: 200% auto;
  border-radius: 4px;
  transition: all 0.5s ease 0s;
}

.ui.button:hover {
  background-image: linear-gradient(to right, #b7020b 0%, #f07141 51%, #b7020b);
  background-position: right center;
  color: #ffffff;
  box-sizing: inherit;
  background-color: inherit;
}

.ui.message .header,
.ui.message .content {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.ui.message .header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.ui.dropdown {
  color: #32a4be;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.ui.list .list > .item .header,
.ui.list > .item .header {
  color: #32a4be;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.ui.button.basic,
.ui.button.basic:hover,
.ui.button.basic:focus {
  box-shadow: 0 0 0 0 white inset;
}

button.ui.basic.button:hover,
button.ui.basic.button:focus {
  background: transparent !important;
}
button.ui.basic.button:hover i {
  color: #ffaa89;
  transition: all 0.3s ease 0s;
}

div.flex {
  display: flex;
  flex-direction: row;
  min-height: 0;
}

div.flex.column {
  flex-direction: column;
}

div.flex.full {
  flex-grow: 1;
  align-self: stretch;
}

div.flex.part {
  /* height: 130px; */
  flex-shrink: 0;
}

div.flex.partSmall {
  height: 60px;
  flex-shrink: 0;
}

div.flex.spread {
  justify-content: space-between;
}

div.flex.spread-around {
  justify-content: space-around;
}

div.flex.filler {
  flex-grow: 1;
}

div.flex.spacer {
  height: 10px;
}

div.flex.center {
  align-self: center;
}

div.flex.justify-center {
  justify-content: center;
}

div.flex.error {
  color: #912d2b;
  font-weight: bold;
  font-size: 16px;
}

.gradient {
  /* background-image: linear-gradient(to top, #2c92a5 0%, #37b6d3 100%); */
  /* background-color: #0c0e27; */
  background-color: #1f2641;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-weight: 200 !important;
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

div.flex.content {
  margin: 10px;
}

.logo img {
  align-self: center;
  margin-top: 20px;
}

.logoHeader {
  align-items: flex-start;
  margin: 10px;
}

.logoHeader .buttons {
  justify-content: flex-end;
}

.logo .button {
  align-self: flex-start;
  margin: 10px !important;
}

.logo .button.hidden {
  visibility: hidden;
}

.logo .button,
.logoHeader .buttons .button {
  margin: 0;
  padding: 5px !important;
}

.logo .button .icon,
.logoHeader .buttons .button .icon {
  color: white;
}

.logoHeader h1 {
  margin-left: 10px;
  line-height: 1;
}

.logoHeader span {
  line-height: 30px;
  margin-left: 10px;
  font-size: 16px;
}

h1.header {
  margin-top: 10px;
  align-self: center;
}

.buttons {
  justify-content: center;
  flex-shrink: 0;
}

.hint {
  margin-top: 15px;
  align-items: center;
}

.sendForm,
.loginForm,
.signupForm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: stretch;
}

.mnemonics,
.privateKey {
  height: 200px;
  align-items: flex-start;
}

.qrCode {
  align-self: center;
}

.buttons.margin {
  margin-top: 20px;
}

.breakWords {
  word-break: break-all;
}

.clearAccount {
  margin-top: 10px;
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
}

.transfersView {
  overflow-y: auto;
}

.transferList {
  width: 100%;
}

.flex.balance {
  align-items: center;
}

.flex.balance label {
  align-self: center;
}

h4.unbound {
  color: #e0e1e2;
  cursor: pointer;
}

h4.unbound:hover {
  color: white;
}

.ledgerText {
  margin-bottom: 5px;
}

.ui.message.scroll {
  overflow-y: scroll;
}

.statusBar {
  padding: 5px;
  flex-shrink: 0;
}

.ui.list.accountList .item {
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.ui.list.accountList .item:hover {
  background-color: lightgrey;
}

@media (max-width: 550px) {
  body {
    height: 100vh;
  }
  .onyx-balance-amount {
    font-size: 1.28571429rem;
  }
}

@media (max-width: 400px) {
  div.flex.balance-container {
    flex-direction: column;
  }
  .onyx-balance-column {
    margin-bottom: 15px;
  }
}
