@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin: 0;
  padding: 0;
  width: 350px;
  height: 400px;

  color: #595757;
  font-family: 'Source Sans Pro', sans-serif;
}

.ui.segment, 
.ui.segments, 
.ui.table, 
.ui.button, 
.ui.form input,
.ui input,
.ui.form textarea, 
.ui.menu, 
.ui.tabular.menu .active.item,
.ui.dropdown,
.ui.dropdown .menu,
.ui.message { 
  border-radius: 0 !important; 
  -moz-border-radius: 0 !important; 
  -webkit-border-radius: 0 !important; 
}

.ui.button {
  color: #32a4be;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.ui.dropdown {
  color: #32a4be;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}


.ui.button.basic, .ui.button.basic:hover, .ui.button.basic:focus {
  box-shadow: 0 0 0 0 white inset;
}
